#im_rst{
    display: none;
}
#im_preview{
    width: 10vw;
    direction: rtl;
}
#content {
    display: flex;
}
#left{
    float: left;
    flex: 0 0 45%;
    width: 45%;
}
#right{
    float: right;
    flex: 1;
    width: 50%;
}
#im_rst{
    color: blue;
    }
form  {
    /*float: right;*/
    text-align: right;
    direction: rtl;
    margin: 3em;
    /*display: inline-block;*/
}
form input,.formfield {
    margin: 1em;
    border: solid black 1px;
    padding: 4px;
    color: blue;
}
.formfield{
    width: 100%;
    min-height: 10em;
}
::placeholder{
    color:  blue;
}
.required_field{
    border: solid orange 2px;
}
.required_field_less{
    border: dashed #cc00cc 2px;
}
@media screen and (max-width:600px) {
  #im_preview{
    display: block; 
    width: 100%;
    margin-top: 6vw;
  }
  form input,.formfield {
      width: 100%;
  }
  #date_input {
        width: 70%;
    }
    
    #left,#right,#content{
        display: inline-block;
        width: 100%;
      }
}
