a{text-decoration:none;color:inherit;}
    body{ 
    background-color:black;
    /*position:relative;
    width:100%;
    height:100%;*/
    }
    #menu{
    margin-top:10%;
    color:whitesmoke;
    }
    btn{
    width:30%;
    border:orange solid 2px;
    border-radius:15px;
    padding:8%;
    margin:4px;
    background:#0e082b;
    display:block;
    font-size:x-large;
    
        }
        btn:hover{
        box-shadow: 3px 3px 6px orange,-3px -3px 6px orange;
        cursor:pointer;
        }
    #header{
    color:white;
    font-size:x-large;
    line-height:5ch;
    width:85%;
    margin-right:auto;
    margin-left:auto;
    direction:rtl;
    display:none;
    }
    #header a{
    background:rgba(59,36,71,0.3);
    border:1px solid #ad69cf;
    margin: 1px 1ch;
    white-space:pre;
    padding:1ch 2ch;
    margin-top:3ch;
    }
    input#show_header:checked + #show_header_img {
    display:none;
    visibility:hidden;
    z-index:-1;
    opacity:0;
    }
    #show_header:checked ~ #header {
    display:block;
    z-index:1;
    }
    #logo{
    text-shadow:-10px  -1px 30px whitesmoke;
    font-size:500%;
    margin-bottom:10%;
/*     transform: rotateY(10deg); */
    }
    ::-webkit-scrollbar {    width: 0;    }
    [ id $= back ],[ id $= next ]{
    position:fixed;
    top:15%;
    height:40%;
    width:10%;
    background:rgba(91,91,91,0.3);
    opacity:0.4;
    padding-top:20%;
    }
    [ id $= next ]{ right:1px;}
    [ id $= image ]{
    position:fixed;
    top:20%;
    left:10%;
    width:80%;
/*     margin:auto; */
    text-align:center;
    overflow:auto;
    max-height:80%;
    }
    [ id $= image ] img { max-width:100%;
max-height:100%;}
[ id $= image ] a{
background-color:#0e082b;
border:orange solid 2px;
padding-top:1ch;
padding-bottom:1ch;
border-radius:15px;
width:50%;
margin-left:auto;
margin-right:auto;
}
