table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  direction: rtl;
  text-align: center;
  padding: 1vw;
  font-family: "B Yekan+";
  } 
caption {
     caption-side: bottom;
     border: 1px black solid;
}
tr:nth-of-type(odd) { 
  background:  #ccc;
}
