.page {
    float:right;
    clear:both;
    margin:5vw;
}
.hide_file { display:none;}

img[src^="../img/"] {
    margin-right:3vw;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  direction: rtl;
  text-align: center;
  padding: 1vw;
  font-family: "B Yekan+";
  } 
caption {
     caption-side: bottom;
     border: 1px black solid;
}
tr:nth-of-type(odd) { 
  background:  #ccc;
}
#img {
    margin-top:2vw;
}
#aud,#vid {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
#zip {
    width:60%;
    float:left;
    
}
*[class ='page fa_text']{
    background-color:#ccc;
    max-width: 40ch;
}
#menu{
    position:fixed;
    top:30%;
    left:0;
    width:5vw;
/*     height:300px; */
    background-color:rgba(0,0,0,0.7);
    border-radius:15px;
    padding-top:20px;
    padding-bottom:20px;
}
.menu_item{
display: inline-block;
position: relative;
margin-top:1vh;
}
.menu_item:hover:after{
background: rgba(20,20,20,0.7);
border-radius: 5px;
bottom: 26px;
color: #fff;
content: attr(tip);
left: 50%;
padding: 5px 15px;
position: absolute;
white-space: nowrap;
}
.menu_item img {
    width:100%;
    margin-right:0;
}
@media screen and (max-width:600px){
video { 
    width:100%;
}
}
