table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  direction: rtl;
  text-align: center;
  padding: 1vw;
  font-family: "B Yekan+";
  } 
  tr:hover {
      background-color: orange;
  }
  table{
      margin-top: 2vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2vw;
  }
/*  th{
      padding: 1vw;
  }*/
tr:nth-of-type(odd) { 
  background:  #eee;
}
tr:nth-of-type(odd):hover{
    
      background-color: orange;
}
th {
    transform: rotate(90deg);
    height:8vw;
}
  body{
      background-color: #ffb04f;
  }
  #img{
    width: 50px;
    height: 50px;
}
@media screen and (max-width:600px){
    tr:nth-of-type(odd):hover{
        background-color: initial;
    }
    caption{
		display: block;
			background-color: #ccc;
			border: solid 1px black;
			font-size: 10vw;
			margin-bottom: 21vw;
	}
        
th {
    transform: rotate(-90deg);
    height:auto;
}
    table, thead, tbody, th, td, tr {
			display: block;
		}
	
		/* Hide table headers (but not display: none;, for accessibility) */
		th {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
                        padding-top: 5vw;
			padding-bottom: 5vw;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "تصویر"; }
		td:nth-of-type(2):before { content: "نام"; }
		td:nth-of-type(3):before { content: "نام خانوادگی"; }
		td:nth-of-type(4):before { content: "تاریخ تولد"; }
		td:nth-of-type(5):before { content: "شغل"; }
		td:nth-of-type(6):before { content: "رتبه سازمانی"; }
		td:nth-of-type(7):before { content: "شهر"; }
		td:nth-of-type(8):before { content: "لهجه /زبان"; }
		td:nth-of-type(9):before { content: "آدرس"; }
		td:nth-of-type(10):before { content: "پلاک خودرو"; }
		td:nth-of-type(11):before { content: "تلفن"; }
		td:nth-of-type(12):before { content: "Id telegram"; }
		td:nth-of-type(13):before { content: "Id instagram"; }
		td:nth-of-type(14):before { content: "Id های دبگر"; }
		td:nth-of-type(15):before { content: "توضیحات"; }
	
        
}