#search_target{
/*     border:1px black solid; */
    text-align:right;
    direction:rtl;
    font-family:"B Yekan+";
    margin:0 auto;
    width:80%;
}
#harassment_header th{
    transform: rotate(0);
    padding: 0 1vw;
}
#search{
    width: 100%;
    height: 100%;
    padding: 20% 0;
    margin:auto;
}
#searchbox{
    width: 60%;
    float: right;
    margin: auto;
    margin-right: 20%;
    text-align: right;
    direction: rtl;
    height: 6vw;
    font-size: 3vw;
} 
#searchbtn{
    float: right;
    padding: 2vw;
    margin-right: 2em;
}
#img{
    width: 50px;
    height: 50px;
}
th {
    transform: rotate(90deg);
    height:8vw;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  direction: rtl;
  text-align: center;
  padding: 1px;
  font-family: "B Yekan+";
  } 
  tr:hover {
      background-color: orange;
  }
  table{
      margin-top: 2vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2vw;
  }
  
@media screen and (max-width:780px){
    #searchbtn{
    margin-right: 40%;
    margin-top: 2vw;
    }
}
@media screen and (max-width:600px){
    tr:nth-of-type(odd):hover{
        background-color: initial;
    }
            
th {
    transform: rotate(-90deg);
    height:auto;
}
    table, thead, tbody, th, td, tr {
			display: block;
		}
	
		/* Hide table headers (but not display: none;, for accessibility) */
		th {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
                        padding-top: 5vw;
			padding-bottom: 5vw;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "تصویر"; }
		td:nth-of-type(2):before { content: "نام"; }
		td:nth-of-type(3):before { content: "نام خانوادگی"; }
		td:nth-of-type(4):before { content: "تاریخ تولد"; }
		td:nth-of-type(5):before { content: "شغل"; }
		td:nth-of-type(6):before { content: "رتبه سازمانی"; }
		td:nth-of-type(7):before { content: "شهر"; }
		td:nth-of-type(8):before { content: "لهجه /زبان"; }
		td:nth-of-type(9):before { content: "آدرس"; }
		td:nth-of-type(10):before { content: "پلاک خودرو"; }
		td:nth-of-type(11):before { content: "تلفن"; }
		td:nth-of-type(12):before { content: "Id telegram"; }
		td:nth-of-type(13):before { content: "Id instagram"; }
		td:nth-of-type(14):before { content: "Id های دبگر"; }
		td:nth-of-type(15):before { content: "توضیحات"; }
		td:nth-of-type(16):before { content: "ویرایش"; }
	
        
}
