@font-face {
    font-family: "B Yekan+";
    src: url(../font/BYekan/BYekan+.ttf) format("truetype");
}
::root {
    font-family: "B Yekan+";
}
#header {
    /*height: 4em;*/
    background: #ff5f07;
    color: white;  
    padding:1em;
    margin:auto;
    }
    
#header a{
    color: inherit;
    margin-left: 1em;
    margin-right: 1em;
    margin-top:2em;
    text-decoration:none;
    font-family: "B Yekan+";
    font-size: 2em;
    white-space:nowrap;
}
.link{
    text-align: left;
    direction: ltr;
}
body{
    min-height: 100%;
   }
h1 {
    font-family: "B Yekan+";
    text-align: center;
    /*font-size:x-large;*/
}
#note {
    direction: rtl;
    text-align: right;
    column-count: auto;
    column-gap: 3em;
    column-width: 20em;
    line-height: 1.5em;
    background-color: #ffb04f;
}
#footer{
    height: 2em;
    background-color: #ccc;
    text-align: center;
    padding: 2em;
    clear: both;
    margin-top: 4em;
}

.fa_text{
    text-align: right;
    direction: rtl;
    font-family: "B Yekan+";
    font-size: 2vw;
    margin-right: 1vw;
}

@media screen and (max-width:600px) {
  #header a{
    display: block; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
