
/* comment style begin */
#comment_window{
position:fixed;
width:100%;
height:100%;
left:0;
top:0;
background:rgba(54,54,54,0.97);
display:none;
padding-top:10vw;
direction:rtl;
text-align:right;
overflow:scroll;
}
textarea[name='comment']{
    font-family: "B Yekan+";
    line-height:2em;
    margin-bottom:10vw;
    direction:rtl;
    text-align:right;
    font-size:0.7em ;
}
::placeholder{
    color:red;
    font-size:1.5em;
}

#comment_window a {text-decoration:none; color:orange;}
#comment_window_btn_close{
position:fixed;
top:4vw;
left:10%;
}
/* coment style end */
a {text-decoration: none;}
#img{
    width: 50px;
    height: 50px;
}
th {
    transform: rotate(90deg);
    height:8vw;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  direction: rtl;
  text-align: center;
  padding: 1px;
  font-family: "B Yekan+";
  } 
  tr:hover {
      background-color: orange;
  }
  table{
      margin-top: 2vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2vw;
  }
  #history{
    float:right;
    direction:rtl;
    text-align:right;
    }
   
#history_state {
float:right;
direction:rtl;
text-align:right;}
        .content{
            width: 40%;
            font-family: "B Yekan+";
            text-align: right;
            direction: rtl;
            margin: 4%;
            float:right;
            display:inline-block;
        }
        .sharelink{
            margin-right: 1em;
        }
        
@media screen and (max-width:780px){
    #searchbtn{
    margin-right: 40%;
    margin-top: 2vw;
    }
}
@media screen and (max-width:600px){
    .content{
                display: block;
                width: 100%;
                font-size: 6vw;
            }
    tr:nth-of-type(odd):hover{
        background-color: initial;
    }
            
th {
    transform: rotate(-90deg);
    height:auto;
}
    table, thead, tbody, th, td, tr {
			display: block;
		}
	
		/* Hide table headers (but not display: none;, for accessibility) */
		th {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
                        padding-top: 5vw;
			padding-bottom: 5vw;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "تصویر"; }
		td:nth-of-type(2):before { content: "نام"; }
		td:nth-of-type(3):before { content: "نام خانوادگی"; }
		td:nth-of-type(4):before { content: "تاریخ تولد"; }
		td:nth-of-type(5):before { content: "شغل"; }
		td:nth-of-type(6):before { content: "رتبه سازمانی"; }
		td:nth-of-type(7):before { content: "شهر"; }
		td:nth-of-type(8):before { content: "لهجه /زبان"; }
		td:nth-of-type(9):before { content: "آدرس"; }
		td:nth-of-type(10):before { content: "پلاک خودرو"; }
		td:nth-of-type(11):before { content: "تلفن"; }
		td:nth-of-type(12):before { content: "Id telegram"; }
		td:nth-of-type(13):before { content: "Id instagram"; }
		td:nth-of-type(14):before { content: "Id های دبگر"; }
		td:nth-of-type(15):before { content: "توضیحات"; }
		td:nth-of-type(16):before { content: "ویرایش"; }
	
        
}
